<table>
  <% @owners.each do |owner| %>
    <br>
    <tr>
      <td><%= link_to owner.to_s, owner_path(owner) %></td>
     
      <td><%= button_to 'Remove', owner_path(owner), method: 'delete', data: { confirm: 'Are you sure?' } %></td>
    <% end %>
</table>





